body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

nav a {
    color: #4da6ff; 
    font-weight: bold; 
    text-decoration: none; 
    margin: 0 10px;
}

.about-section {
    margin: 20px;
    padding: 20px;
    background-color: #222;
    border-radius: 8px;
}

.about-text h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.about-text p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.about-details {
    margin: 20px;
    padding: 20px;
    background-color: #222;
    border-radius: 8px;
}

.about-details h3 {
    font-size: 22px;
    margin-bottom: 10px;
}

.about-details p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 15px;
}

a {
    color: #4da6ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    background-color: rgb(2, 2, 122);
    color: white;
    text-align: center;
    padding: 5px 0; 
    width: 100%;
    position: fixed;
    bottom: 0;
}

footer p {
    margin: 0;
    font-size: 14px;
}
