body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

nav a {
    color: green;
    text-decoration: none;
    margin: 0 10px;
}

h1 {
    margin: 20px 0;
}

section {
    margin: 20px;
    flex-grow: 1; 
}

.project {
    background-color: #fff;
    margin: 20px 0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgb(3, 68, 3);
}

.project h3 {
    color: rgb(3, 68, 3);
}

.project p {
    font-size: 16px;
    line-height: 1.6;
}

.video-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
}

footer {
    background-color: rgb(3, 68, 3);
    color: white;
    text-align: center;
    padding: 5px 0;
    width: 100%;
    position: fixed;
    bottom: 0;
}

footer p {
    margin: 0;
    font-size: 14px;
}

a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
